# https://github.com/drivendata/cookiecutter-data-science/blob/master/%7B%7B%20cookiecutter.repo_name%20%7D%7D/.gitignore

/build/script.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data/external/*
!data/external/.gitignore
data/figures/*
!data/figures/.gitignore
data/interim/*
!data/interim/.gitignore
data/processed/*
!data/processed/.gitignore
data/raw/*
!data/raw/.gitignore
data/sub/*
!data/sub/.gitignore


# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

